*{
    margin: O;
    padding:0;
    box-sizing: border-box;
}
header{
    background-image: url(img/pattern.png);
    background-color: rgb(84, 137, 249);
    background-size:25%;
    padding-top: 50px;
}
h1{
    font-size:50px;
}

h6{
    color:grey;
}
.the-booleaner{
    color: rgb(31, 106, 191);
}
.data{
    font-size:10px;
}
.caption{
    font-size: 8px;
}
.sottolineatura{
    background-color: yellow;
}
ul{
    margin: 10px;
}
thead{
    background-color: rgb(104, 149, 247);
    color:white;
    text-align: left;
}
.text{
    width:40%;
}
.dispari{
    background-color:lightskyblue;
}
.immagini{
    width:150px;
    height:150px;
    color:white;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
#immagine1{
    background-image:url(img/monitor.jpg);
}
#immagine2{
    background-image: url(img/graph.jpg);
}